In [1]:
import numpy as np
import pandas as pd

In [2]:
df= pd.read_csv('owid-covid-data.csv')
df.head(3)

C:\Users\vaish\AppData\Local\Temp\ipykernel_13540\929516247.py:1: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv('owid-covid-data.csv')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,EST,Europe,Estonia,6/19/2022,564276.0,822.0,117.429,2462.0,2.0,0.286,...,39.3,NaN,4.690,78.74,0.892,1326064,3483.9,8.89,7.79,2627.2488
1,OWID_ASI,NaN,Asia,11/20/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4721383370,NaN,NaN,NaN,NaN
2,BGR,Europe,Bulgaria,11/20/2023,NaN,NaN,NaN,NaN,NaN,NaN,...,44.4,NaN,7.454,75.05,0.816,6781955,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 357233 entries, 0 to 357232
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    357233 non-null  object
 1   continent                                   340234 non-null  object
 2   location                                    357233 non-null  object
 3   date                                        357233 non-null  object
 4   total_cases                                 319164 non-null  float64
 5   new_cases                                   347550 non-null  float64
 6   new_cases_smoothed                          346291 non-null  float64
 7   total_deaths                                297655 non-null  float64
 8   new_deaths                                  347624 non-null  float64
 9   new_deaths_smoothed                         346394 non-null  float64
 10  total_cases_per_million                     319164 non-null  float64
 11  new_cases_per_million                       347550 non-null  float64
 12  new_cases_smoothed_per_million              346291 non-null  float64
 13  total_deaths_per_million                    297655 non-null  float64
 14  new_deaths_per_million                      347624 non-null  float64
 15  new_deaths_smoothed_per_million             346394 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                37793 non-null   float64
 18  icu_patients_per_million                    37793 non-null   float64
 19  hosp_patients                               39165 non-null   float64
 20  hosp_patients_per_million                   39165 non-null   float64
 21  weekly_icu_admissions                       10293 non-null   float64
 22  weekly_icu_admissions_per_million           10293 non-null   float64
 23  weekly_hosp_admissions                      23444 non-null   float64
 24  weekly_hosp_admissions_per_million          23444 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          79934 non-null   float64
 35  people_vaccinated                           76505 non-null   float64
 36  people_fully_vaccinated                     73193 non-null   float64
 37  total_boosters                              48147 non-null   float64
 38  new_vaccinations                            65921 non-null   float64
 39  new_vaccinations_smoothed                   183012 non-null  float64
 40  total_vaccinations_per_hundred              79934 non-null   float64
 41  people_vaccinated_per_hundred               76505 non-null   float64
 42  people_fully_vaccinated_per_hundred         73193 non-null   float64
 43  total_boosters_per_hundred                  48147 non-null   float64
 44  new_vaccinations_smoothed_per_million       183012 non-null  float64
 45  new_people_vaccinated_smoothed              182769 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  182769 non-null  float64
 47  stringency_index                            197651 non-null  float64
 48  population_density                          303326 non-null  float64
 49  median_age                                  282051 non-null  float64
 50  aged_65_older                               272218 non-null  float64
 51  aged_70_older                               279223 non-null  float64
 52  gdp_per_capita                              276460 non-null  float64
 53  extreme_poverty                             178197 non-null  float64
 54  cardiovasc_death_rate                       277117 non-null  float64
 55  diabetes_prevalence                         291219 non-null  float64
 56  female_smokers                              207897 non-null  float64
 57  male_smokers                                205069 non-null  float64
 58  handwashing_facilities                      135754 non-null  float64
 59  hospital_beds_per_thousand                  244661 non-null  float64
 60  life_expectancy                             328713 non-null  float64
 61  human_development_index                     268594 non-null  float64
 62  population                                  357233 non-null  int64
 63  excess_mortality_cumulative_absolute        12211 non-null   float64
 64  excess_mortality_cumulative                 12211 non-null   float64
 65  excess_mortality                            12211 non-null   float64
 66  excess_mortality_cumulative_per_million     12211 non-null   float64
dtypes: float64(61), int64(1), object(5)
memory usage: 182.6+ MB

In [4]:
df_clean = df.copy()

In [5]:
data_missing_value = df_clean.isnull().sum().reset_index()
data_missing_value.columns = ['feature','missing_value']
data_missing_value['percentage'] = round((data_missing_value['missing_value']/len(df_clean))*100,3)
data_missing_value = data_missing_value.sort_values('percentage', ascending=False).reset_index(drop=True)
data_missing_value = data_missing_value[data_missing_value['percentage']>0]
data_missing_value

                                    feature  missing_value  percentage
0                     weekly_icu_admissions         346940      97.119
1         weekly_icu_admissions_per_million         346940      97.119
2   excess_mortality_cumulative_per_million         345022      96.582
3                          excess_mortality         345022      96.582
4               excess_mortality_cumulative         345022      96.582
..                                      ...            ...         ...
58                      new_deaths_smoothed          10839       3.034
59                                new_cases           9683       2.711
60                    new_cases_per_million           9683       2.711
61                               new_deaths           9609       2.690
62                   new_deaths_per_million           9609       2.690

[63 rows x 3 columns]

In [6]:
#Numeric
numerical = df.loc[:, (df.dtypes == int) | (df.dtypes == float)].columns.tolist()
numerical

['total_cases',
 'new_cases',
 'new_cases_smoothed',
 'total_deaths',
 'new_deaths',
 'new_deaths_smoothed',
 'total_cases_per_million',
 'new_cases_per_million',
 'new_cases_smoothed_per_million',
 'total_deaths_per_million',
 'new_deaths_per_million',
 'new_deaths_smoothed_per_million',
 'reproduction_rate',
 'icu_patients',
 'icu_patients_per_million',
 'hosp_patients',
 'hosp_patients_per_million',
 'weekly_icu_admissions',
 'weekly_icu_admissions_per_million',
 'weekly_hosp_admissions',
 'weekly_hosp_admissions_per_million',
 'total_tests',
 'new_tests',
 'total_tests_per_thousand',
 'new_tests_per_thousand',
 'new_tests_smoothed',
 'new_tests_smoothed_per_thousand',
 'positive_rate',
 'tests_per_case',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'total_boosters',
 'new_vaccinations',
 'new_vaccinations_smoothed',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'total_boosters_per_hundred',
 'new_vaccinations_smoothed_per_million',
 'new_people_vaccinated_smoothed',
 'new_people_vaccinated_smoothed_per_hundred',
 'stringency_index',
 'population_density',
 'median_age',
 'aged_65_older',
 'aged_70_older',
 'gdp_per_capita',
 'extreme_poverty',
 'cardiovasc_death_rate',
 'diabetes_prevalence',
 'female_smokers',
 'male_smokers',
 'handwashing_facilities',
 'hospital_beds_per_thousand',
 'life_expectancy',
 'human_development_index',
 'excess_mortality_cumulative_absolute',
 'excess_mortality_cumulative',
 'excess_mortality',
 'excess_mortality_cumulative_per_million']

In [7]:
#Categorical
categorical = df.loc[:, (df.dtypes != int) & (df.dtypes != float)].columns.tolist()
categorical

['iso_code', 'continent', 'location', 'date', 'tests_units', 'population']

In [8]:
df_clean.isna().sum()

iso_code                                        0
continent                                   16999
location                                        0
date                                            0
total_cases                                 38069
                                            ...
population                                      0
excess_mortality_cumulative_absolute       345022
excess_mortality_cumulative                345022
excess_mortality                           345022
excess_mortality_cumulative_per_million    345022
Length: 67, dtype: int64

In [9]:
category_counts = df['continent'].value_counts(dropna=False)
print("Category counts:")
print(category_counts)

Category counts:
Africa           80599
Europe           77313
Asia             70608
North America    57977
Oceania          33936
South America    19801
NaN              16999
Name: continent, dtype: int64

In [15]:
category_counts = df['location'].value_counts(dropna=False)
#print("Category counts:")
category_counts_df = pd.DataFrame(category_counts)
type(category_counts_df)
#display(category_counts_df.reset_index())
category_counts_df=category_counts_df.reset_index()
category_counts_df

Category counts:

               index  location
0          Argentina      1419
1               Asia      1418
2           Bulgaria      1418
3            Czechia      1418
4             Europe      1418
..               ...       ...
250         Scotland      1305
251            Wales      1198
252            Macao       795
253  Northern Cyprus       691
254   Western Sahara         1

[255 rows x 2 columns]

In [16]:
nan_rows = df_clean[df_clean['continent'].isna()]

In [17]:
if not nan_rows.empty:
    nan_locations = nan_rows['location'].unique()
    print("Values in 'location' column for NaN rows in 'continent':")
    print(nan_locations)
else:
    print("No NaN values in 'continent' column.")

Values in 'location' column for NaN rows in 'continent':
['Asia' 'Europe' 'European Union' 'Lower middle income'
 'Upper middle income' 'World' 'High income' 'South America'
 'North America' 'Africa' 'Low income' 'Oceania']

In [18]:
df.loc[df['location'] == 'Asia', 'continent'] = 'Asia'

In [19]:
df.loc[df['location'] == 'Europe', 'continent'] = 'Europe'

In [20]:
df.loc[df['location'] == 'European Union', 'continent'] = 'Europe'

In [21]:
df.loc[df['location'] == 'South America', 'continent'] = 'South America'

In [22]:
df.loc[df['location'] == 'North America', 'continent'] = 'North America'

In [23]:
df.loc[df['location'] == 'Oceania', 'continent'] = 'Oceania'

In [24]:
df.loc[df['location'] == 'Africa', 'continent'] = 'Africa'

In [25]:
nan_rows = df[df['continent'].isna()]
if not nan_rows.empty:
    nan_locations = nan_rows['location'].unique()
    print("Values in 'location' column for NaN rows in 'continent':")
    print(nan_locations)
else:
    print("No NaN values in 'continent' column.")

Values in 'location' column for NaN rows in 'continent':
['Lower middle income' 'Upper middle income' 'World' 'High income'
 'Low income']

In [28]:
show_list = ['Lower middle income', 'Upper middle income', 'World', 'High income', 'Low income']
selected_rows = category_counts_df.loc[category_counts_df['index'].isin(show_list)]

# Print the result
print(selected_rows)

                   index  location
7    Lower middle income      1418
9    Upper middle income      1418
10                 World      1418
13           High income      1417
134           Low income      1414

In [29]:
df.loc[df['location'] == 'Lower middle income', 'continent'] = 'Unknown'

In [30]:
df.loc[df['location'] == 'Upper middle income', 'continent'] = 'Unknown'

In [31]:
df.loc[df['location'] == 'World', 'continent'] = 'Unknown'

In [32]:
df.loc[df['location'] == 'High income', 'continent'] = 'Unknown'

In [33]:
df.loc[df['location'] == 'Low income', 'continent'] = 'Unknown'

In [34]:
nan_rows = df[df['continent'].isna()]
if not nan_rows.empty:
    nan_locations = nan_rows['location'].unique()
    print("Values in 'location' column for NaN rows in 'continent':")
    print(nan_locations)
else:
    print("No NaN values in 'continent' column.")

No NaN values in 'continent' column.

In [35]:
# Replace null values in the 'tests_units' column with "N/A"
df['tests_units'].fillna("N/A", inplace=True)

In [36]:
columns_to_replace = ['total_cases', 'new_cases', 'new_cases_smoothed','total_cases_per_million','new_cases_per_million','new_cases_smoothed_per_million']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(0)

In [37]:
columns_to_replace = ['total_deaths', 'new_deaths', 'new_deaths_smoothed','total_deaths_per_million','new_deaths_per_million','new_deaths_smoothed_per_million']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(0)

In [38]:
columns_to_replace = ['excess_mortality', 'excess_mortality_cumulative', 'excess_mortality_cumulative_absolute','excess_mortality_cumulative_per_million']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(100000000)

In [39]:
columns_to_replace = ['icu_patients', 'icu_patients_per_million', 'hosp_patients','hosp_patients_per_million','weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(0)

In [40]:
columns_to_replace = ['stringency_index']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(200)

In [41]:
columns_to_replace = ['reproduction_rate']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(200)

In [42]:
columns_to_replace = ['total_tests','new_tests','total_tests_per_thousand','new_tests_per_thousand','new_tests_smoothed','new_tests_smoothed_per_thousand','positive_rate','tests_per_case','tests_units']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(0)

In [43]:
columns_to_replace = ['total_vaccinations','people_vaccinated','people_fully_vaccinated','total_boosters','new_vaccinations','new_vaccinations_smoothed','total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred','new_vaccinations_smoothed_per_million','new_people_vaccinated_smoothed','new_people_vaccinated_smoothed_per_hundred']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(0)

In [44]:
# Identify columns with null values
columns_with_nulls = df.columns[df.isnull().any()].tolist()

# Print the result
print("Columns with null values:")
print(columns_with_nulls)

Columns with null values:
['population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index']

In [46]:
columns_to_replace = ['population_density', 'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'hospital_beds_per_thousand', 'life_expectancy', 'human_development_index']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(0)

In [45]:
columns_to_replace = ['handwashing_facilities']  # Replace with your column names
df[columns_to_replace] = df[columns_to_replace].fillna(200)

In [47]:
# Identify columns with null values
columns_with_nulls = df.columns[df.isnull().any()].tolist()

# Print the result
print("Columns with null values:")
print(columns_with_nulls)

Columns with null values:
[]

In [49]:
# Delete those rows from the DataFrame
df = df[df['continent'] != 'Unknown']

In [50]:
# Specify the file path where you want to save the CSV file
csv_file_path = 'C:/Vaishnavi files/01 MSBA Files/04 Subjects/02 Fall/06 Information Management/Project/IM_data_cleaned1.csv'

# Save the DataFrame as a CSV file
df.to_csv(csv_file_path, index=False)